.top-buffer{
	margin-top: 60px;
}

.top-buffer-main{
	margin-top: 90px;
}

.box{
	background-color: rgba(220,220,220,0.6);
	height: 100%;
}

.col-md-1.box{
	width: 100%;
}

#helper{
	height: 69px;
	/*width: auto;*/
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	/*display: inline-block;*/
}

#mainwindow{
	height: 300px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#maintittle{
	padding-left: 60px;
	border-bottom-right-radius: 5px;
}

#tittle{
	padding-left: 60px; 
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.nav>li>a, .nav>li{
	height:60px;
	max-height:60px;
}

.nav>li>a, .nav>li, .active{
	-webkit-transition: all ease-in-out .3s; /* Safari and Chrome */
    -moz-transition: all ease-in-out .3s; /* Firefox */
    -ms-transition: all ease-in-out .3s; 
    -o-transition: all ease-in-out .3s; /* Opera */
    transition: all ease-in-out .3s;
}

.width {
    height: auto;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;

}

#headerfunc.width, #helperfunc.width, #maintext.width {
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    overflow: hidden;

}

#headerfunc {

}

#helperfunc.width.noact{
	margin-top: -100%;
	margin-left: 100%;
}

#maintext.width.noact{
	margin-left: 200%;
}

.width.act{
	opacity: 1;
}

.width.noact{
	margin-left: -100%;
	opacity: 0;
}


.mainicon{
	font-size: 40px;
}

.smallpadding{
	padding: 2px;
}

.background{
	background-image: url(../imgs/maxresdefault.jpg);
    background-size: cover;
    background-position: 0% 100%;
    background-repeat: no-repeat;
    height: 100%;
}

html,body{
	height: 100%;
}

.jumbotron{
	padding-left: 2px;
	padding-right: 2px;
	/*opacity: .4;*/
	background-color: rgba(220,220,220,0.6);
}

.maintext{
}

.regtext{
	/*font-size: 120%;*/
}