.top-buffer{
	margin-top: 60px;
}

.top-buffer-main{
	margin-top: 90px;
}

.box{
	background-color: rgba(220,220,220,0.6);
	height: 100%;
}

.col-md-1.box{
	width: 100%;
}

#helper{
	height: 69px;
	/*width: auto;*/
	margin-bottom: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	text-align: center;
	/*display: inline-block;*/
}

.noheight{
	height: 0 !important;
	margin-bottom: 69px !important;
}

#sidebar{
	border-bottom-right-radius: 5px;
	overflow: hidden;
}

.side{
	color: rgba(360, 360, 360, 1);
}

#mainwindow{
	padding: 15px;
	height: 300px;
	font-size: 16px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

#maintittle{
	background-color: rgba(51, 51, 51,0.6);
	color: white;
	padding-left: 60px;
	border-bottom-right-radius: 5px;
}

#tittle{
	padding-left: 60px; 
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
	height: 56px;
}

.nav>li>a, .nav>li{
	height:60px;
	max-height:60px;
}

.nav-button, .left-menu{
	text-align: center;
}

.arrows{
	text-align: center;
	background-color: rgba(100,100,100,0.6);
	border-radius: 5px;
}

#top-arrow{
	visibility: hidden;
}

.nav>li>a, .nav>li, .active, #video{
	-webkit-transition: all ease-in-out .3s; /* Safari and Chrome */
    -moz-transition: all ease-in-out .3s; /* Firefox */
    -ms-transition: all ease-in-out .3s; 
    -o-transition: all ease-in-out .3s; /* Opera */
    transition: all ease-in-out .3s;
}

.width{
    height: auto;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    overflow: hidden;
}

#headerfunc.width, #helperfunc.width, #maintext.width, #helper{
    -webkit-transition: all .15s ease-in-out;
    -moz-transition: all .15s ease-in-out;
    -o-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    overflow: hidden;

}

#helperfunc.width.noact{
	margin-top: -100%;
	margin-left: 100%;
}

#maintext.width.noact{
	margin-left: 200%;
}

.maincenter{
	border-radius: 5px;
	height: 200px;
}

.width.act{
	opacity: 1;
}

.width.noact{
	margin-left: -100%;
	opacity: 0;
}


.mainicon{
	text-align: center;
	font-size: 40px;
}

.scollicon{
	text-align: center;
	font-size: 30px;
}

.iconnum{
	text-align: center;
	font-size: 20px;
}

.smallpadding{
	padding-left: 15px;
	padding-right: 15px;
}
.padding2{
	padding: 2px;
}

.top-buffer20{
	margin-top: 20px;
}

.background{
	background-image: url(../imgs/background4.jpg);
    background-size: cover;
    background-position: 100% 40%;
    background-repeat: no-repeat;
    height: 100%;
    width:100%;
}

.backinit{
	background-image: url(../imgs/backgroundinit.jpg) !important;
}

.icon{
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	display: block;
	height: 100%;
	width: 100%;
}

.usermain{
	background-image: url(../imgs/users/sizenante_fonseca.jpg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	height: 40%;
	width: 100%;
}

#user{
	height: 90px;
	width: 100%;
}

.mainimage{
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	opacity: 0.8;
}
.img{
	/* margin-top: 15px; */
	/* margin-bottom: 15px; */
	vertical-align: top;
	max-width: :100%;
	max-height: 100%;
	height: 260px;
	width: auto;
	overflow: hidden;
}

.table tr:first-child td{
	border-top: 0;
}

html, body, .imagefield{
	height: 100%;
}